* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    background-color: #23242a;
    color: #fefefe;
}
p {
    cursor: pointer;
}

.complete {
    text-decoration: line-through;
}